<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><?php echo "$pagetitle"."$tagline_is"; ?></title>
<meta http-equiv="content-type" content="text/html; charset=us-ascii" />
<meta name="author" content="<?php echo $author_is; ?>" />
<meta name="title" content="<?php echo $sitename_is; ?>" />
<meta name="description" content="<?php echo $sitedesc_is; ?>" />
<meta name="MSSmartTagsPreventParsing" content="true" />
<link rel="stylesheet" type="text/css" href="template/screen.css" media="screen" />
<link rel="stylesheet" type="text/css" href="template/print.css" media="print" />
<link rel="alternate" type="application/rss+xml" title="RSS Blog Feed" href="rss.php" />
<link rel="alternate" type="application/atom+xml" title="Atom Blog Feed" href="atom.php" />
<link rel="alternate" type="application/rss+xml" title="Latest Comments Feed" href="latestcomments.php" />
</head>
<body>
<div id="head"><a name="top"></a>
	<div id="masthead"><a href="<?php echo $siteurl_is; ?>"><img src="template/masthead.gif" width="296" height="81" alt="Writer's Block" title="v3.3" /></a></div>
	<p class="nav"><a href="index.php">Home</a> | <a href="rss.php">RSS Feed</a> | <a href="atom.php">Atom Feed</a> | <a href="latestcomments.php">Latest Comments</a> | <a href="archive.php">Archive</a> |
  <a href="articles.php">Articles</a> | <a href="sitemap.php">Sitemap</a></p>
</div>
<div id="body">