<p align="center">
<strong>{MINIBLOG_TITLE}</strong><br />
<em>{MINIBLOG_DESC}</em>
</p>
<p align="center">
<a href="miniblog.php?blog={BLOG_URL}">Mini-Blog Home</a> | <a href="archive.php?miniblog={BLOG_URL}">Mini-Blog Archive</a> | <a href="rss.php?miniblog={BLOG_URL}">Mini-Blog RSS feed</a>
</p>

{MINIBLOG_CONTENT}

<p align="center">
<a href="miniblog.php?blog={BLOG_URL}">Mini-Blog Home</a> | <a href="archive.php?miniblog={BLOG_URL}">Mini-Blog Archive</a> | <a href="rss.php?miniblog={BLOG_URL}">Mini-Blog RSS feed</a>
</p>